<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-sreesampleplugin" version="1.0.0">
   <name>SreeSamplePlugin</name>
   <js-module name="SreeSamplePlugin" src="www/SreeSamplePlugin.js">
      <clobbers target="cordova.plugins.SreeSamplePlugin" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="SreeSamplePlugin">
            <param name="android-package" value="cordova.plugin.sreesampleplugin.SreeSamplePlugin" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/SreeSamplePlugin.java" target-dir="src/cordova/plugin/sreesampleplugin/SreeSamplePlugin" />
   </platform>
</plugin>